<!DOCTYPE html>
<html lang="<%= lang %>">
<head>
    <meta charset="utf-8">
    <title>[archiloque.net] <%= article.text_title %></title>
    <meta name="viewport" content="width=850">
    <meta name="robots" CONTENT="all">
    <link type="text/css" rel="stylesheet" href="../blog.css">
    <link rel="alternate" type="application/atom+xml" title="<%= blog_name %>" href="<%= blog_root_url %>atom.xml" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="canonical" href="<%= article.absolute_url %>" />

    <meta name="author" content="<%= article.authors.collect{|a| a.name}.join(', ') %>">
    <meta property="og:type" content="article"/>
    <meta name="twitter:card" content="summary" />

    <meta property="og:site_name" content="archiloque.net"/>

    <meta property="og:title" content="<%= CGI::escapeHTML(article.text_title) %>"/>
    <meta property="twitter:title" content="<%= CGI::escapeHTML(article.text_title) %>"/>

    <% if article.description %>
    <meta name="description" content="<%= article.description %>"/>
    <meta property="og:description" content="<%= article.description %>"/>
    <meta property="twitter:description" content="<%= article.description %>"/>
    <% end %>

    <% if article.authors.first.twitter_handle %>
    <meta property="twitter:site" content="<%= article.authors.first.twitter_handle %>"/>
    <% end %>

    <meta property="og:locale" content="fr_FR"/>
    <meta property="og:url" content="<%= article.absolute_url %>"/>

    <% if article.image %>
    <meta property="og:image" content="<%= "#{article.absolute_url}#{article.image}" %>" />
    <meta property="twitter:image" content="<%= "#{article.absolute_url}#{article.image}" %>" />
    <% else %>
    <meta property="og:image" content="<%= site_logo_url %>" />
    <meta property="twitter:image" content="<%= site_logo_url %>" />
    <% end %>

    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "NewsArticle",
        "headline": "[archiloque.net] <%= article.text_title %>",
        "datePublished": "<%= article_published.xmlschema %>",
        "dateModified": "<%= article_updated.xmlschema %>",
        <% if article.description %>
        "description": "<%= article.description %>",
        <% end %>
        "author": {
          "@type": "Person",
          "name": "<%= article.authors.first.name %>"
        },
        "publisher": {
          "@type": "Organization",
          "name": "<%= default_author.name %>",
          "logo": {
            "@type": "ImageObject",
            "url": "<%= site_logo_url %>",
            "width": <%= site_logo_size[0] %>,
            "height": <%= site_logo_size[1] %>
          }
        },
        "image": {
          "@type": "ImageObject",
        <% if article.image %>
          "url": "<%= "#{article.absolute_url}#{article.image}" %>",
          "height": <%= article.image_size[1] %>,
          "width": <%= article.image_size[0] %>
        <% else %>
            "url": "<%= site_logo_url %>",
            "width": <%= site_logo_size[0] %>,
            "height": <%= site_logo_size[1] %>
        <% end %>
        }
      }
    </script>

</head>
<body>
<header>
    <a href="<%= blog_root_url %>"><%= blog_name %></a>
</header>
<main>
  <h1 id="articleTitle"><%= article.title %></h1>
  <div id="content"<%= custom_main_class ? " class=\"#{custom_main_class}\"" : "" %>>
      <nav id="authors">
          <%= article.authors.collect{|author| author.main_url ? "<a href=\"#{author.main_url}\">#{author.name}</a>" : author.name }.join(', ') %><% if display_article_date %>, <%= article_date %><% end %>
      </nav>
      <%= article_content %>
  </div>
</main>
<nav id="navBottom">
  <% if previous_article %>
      <a id="previousArticle" href="<%= previous_article.absolute_url %>">← <%= previous_article.title %></a>
  <% end %>
  <% if next_article %>
      <a id="nextArticle" href="<%= next_article.absolute_url %>"><%= next_article.title %> →</a>
  <% end %>
</nav>

<footer>
  <ul>
    <li><a href="https://archiloque.net">Homepage</a></li>
    <li><a href="https://archiloque.net/blog">Blog</a></li>
    <li><a href="https://archiloque.net/weekly">Chosen Links</a></li>
    <li><a href="https://buttondown.email/archiloque">Subscribe by mail</a></li>
    <li><a rel="me" href="https://felin.social/@archiloque">Mastodon tech</a></li>
    <li><a rel="me" href="https://felin.social/@julienkirch">Mastodon perso</a></li>
  </ul>
</footer>

</body>
</html>
