<!DOCTYPE html>
<html lang="<%= lang %>">
<head>
    <meta charset="utf-8">
    <title>[archiloque.net] <%= Nokogiri::HTML(article.title).text %></title>
    <meta name="viewport" content="width=850">
    <meta name="robots" CONTENT="all">
    <link type="text/css" rel="stylesheet" href="../blog.css">
    <link rel="alternate" type="application/atom+xml" title="<%= blog_name %>" href="<%= blog_root_url %>atom.xml" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="canonical" href="<%= article.absolute_url %>" />
    <link rel="amphtml" href="<%= article.absolute_url %>index.amp.html">

    <meta name="author" content="<%= authors.collect{|a| a.name}.join(', ') %>">
    <meta property="og:type" content="article"/>
    <meta name="twitter:card" content="summary" />

    <meta property="og:site_name" content="archiloque.net"/>

    <meta property="og:title" content="<%= Nokogiri::HTML(article.title).text %>"/>
    <meta property="twitter:title" content="<%= Nokogiri::HTML(article.title).text %>"/>

    <% if article.description %>
    <meta name="description" content="<%= article.description %>"/>
    <meta property="og:description" content="<%= article.description %>"/>
    <meta property="twitter:description" content="<%= article.description %>"/>
    <% end %>

    <% if authors.first.fb_url %>
    <meta property="article:author" content="<%= authors.first.fb_url %>"/>
    <% end %>

    <% if authors.first.twitter_handle %>
    <meta property="twitter:site" content="<%= authors.first.twitter_handle %>"/>
    <% end %>

    <meta property="og:locale" content="fr_FR"/>
    <meta property="og:url" content="<%= article.absolute_url %>"/>

    <% if article.image %>
    <meta property="og:image" content="<%= "#{article.absolute_url}#{article.image}" %>" />
    <meta property="twitter:image" content="<%= "#{article.absolute_url}#{article.image}" %>" />
    <% end %>

    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "NewsArticle",
        "mainEntityOfPage": "http://cdn.ampproject.org/article-metadata.html",
        "headline": "[archiloque.net] <%= Nokogiri::HTML(article.title).text %>",
        "datePublished": "<%= article_published.xmlschema %>",
        "dateModified": "<%= article_updated.xmlschema %>",
        <% if article.description %>
        "description": "<%= article.description %>",
        <% end %>
        "author": {
          "@type": "Person",
          "name": "<%= authors.first.name %>"
        },
        "publisher": {
          "@type": "Organization",
          "name": "<%= default_author.name %>",
          "logo": {
            "@type": "ImageObject",
            "url": "<%= amp_site_logo_url %>",
            "width": <%= amp_site_logo_size[0] %>,
            "height": <%= amp_site_logo_size[1] %>
          }
        },
        "image": {
          "@type": "ImageObject",
        <% if article.image %>
          "url": "<%= "#{article.absolute_url}#{article.image}" %>",
          "height": <%= article.image_size[1] %>,
          "width": <%= article.image_size[0] %>
        <% else %>
            "url": "<%= site_logo_url %>",
            "width": <%= site_logo_size[0] %>,
            "height": <%= site_logo_size[1] %>
        <% end %>
        }
      }
    </script>

</head>
<body>
<nav id="navTop">
    <a href="<%= blog_root_url %>"><%= blog_name %></a>
</nav>
<h1 id="articleTitle"><%= article.title %></h1>
<div id="content">
    <article>
    <% if display_article_info %>
      <div id="subtitle"><%= (lang == 'fr') ? 'par' : 'by' %> <%= authors.collect{|author| author.main_url ? "<a href=\"#{author.main_url}\">#{author.name}</a>" : author.name }.join(', ') %>, <%=
          article_date %>
      </div>
    <% end %>
    <%= article_content %>
    </article>
    <nav id="navBottom">
        <% if previous_article %>
            <a id="previousArticle" href="<%= previous_article.absolute_url %>">← <%= previous_article.title %></a>
        <% end %>
        <% if next_article %>
            <a id="nextArticle" href="<%= next_article.absolute_url %>"><%= next_article.title %> →</a>
        <% end %>
    </nav>
</div>

<nav id="footer">
  <ul>
    <li><a href="http://archiloque.net">Homepage</a></li>
    <li><a href="http://archiloque.net/blog">Blog</a></li>
    <li><a href="http://archiloque.net/weekly">Weekly</a></li>
    <li><a href="http://twitter.com/archiloque">Twitter</a></li>
  </ul>
</nav>

</body>
</html>
