<!DOCTYPE html>
<html lang="fr">
<head>
    <title>[archiloque.net] <%= article_title %></title>
    <meta name="viewport" content="width=850">
    <meta charset="utf-8">
    <meta name="robots" CONTENT="all">
    <link type="text/css" rel="stylesheet" href="../blog.css">
    <link rel="alternate" type="application/atom+xml" title="Le blog d'archiloque.net" href="<%= blog_root_url %>atom.xml" />
    <link rel="shortcut icon" href="/favicon.ico" />

    <meta name="author" content="<%= author.name %>">
    <meta property="og:type" content="article"/>
    <meta name="twitter:card" content="summary" />

    <meta property="og:site_name" content="archiloque.net"/>

    <meta property="og:title" content="<%= article_title %>"/>
    <meta property="twitter:title" content="<%= article_title %>"/>

    <% if article_description %>
    <meta name="description" content="<%= article_description %>"/>
    <meta property="og:description" content="<%= article_description %>"/>
    <meta property="twitter:description" content="<%= article_description %>"/>
    <% end %>

    <% if author.fb_url %>
    <meta property="article:author" content="<%= author.fb_url %>"/>
    <% end %>

    <% if author.twitter_handle %>
    <meta property="twitter:site" content="<%= author.twitter_handle %>"/>
    <% end %>

    <meta property="og:locale" content="fr_FR"/>
    <meta property="og:url" content="<%= article_root_url %>"/>

    <% if article_image %>
    <meta property="og:image" content="<%= "#{article_root_url}#{article_image}" %>" />
    <meta property="twitter:image" content="<%= "#{article_root_url}#{article_image}" %>" />
    <% end %>

</head>
<body>
<nav>
    <a href="<%= blog_root_url%>">Le blog d'archiloque.net</a>
</nav>
<h1 id="articleTitle"><%= article_title %></h1>
<div id="content">
    <article>
    <div id="subtitle">par <%= author.main_url ? "<a href=\"#{author.main_url}\">#{author.name}</a>" : author.name %> le <%=
        article_date %>
    </div>
    <%= article_content %>
    </article>
    <div id="noComment">
        Ce site ne gère pas les commentaires, mais vous pouvez directement contacter les auteurs.
    </div>
</div>
</body>
</html>