<!DOCTYPE html>
<html lang="fr">
<head>
    <title>[archiloque.net] Le blog</title>
    <meta name="viewport" content="width=850">
    <meta charset="utf-8">
    <link type="text/css" rel="stylesheet" href="blog.css">

    <meta property="og:type" content="article"/>
    <meta property="og:site_name" content="archiloque.net"/>
    <meta property="og:title" content="Le blog"/>
    <meta property="og:description" content="Le blog d'archiloque.net"/>
    <meta property="article:author" content="https://www.facebook.com/archiloque"/>
    <meta property="og:locale" content="fr_FR"/>
    <meta property="og:url" content="<%= blog_root_url %>"/>
    <meta property="og:image" content="http://archiloque.net/logo.png" />
    <meta property="og:type" content="article"/>

</head>
<body>
<h1 id="articleTitle">Le blog d'archiloque.net</h1>
<div id="content">
    <% articles.each do |article| %>
        <h4 class="blogHomePageArticleTitle"><%= "<a href=\"#{article.dir_name}\">#{article.title}</a>" %></h4>
        <div class="blogHomePageArticleSubtitle">par <%= article.author %> le <%= article.date %>
        <div class="blogHomePageArticleDescription"><%= article.description %>
    </div>
    <% end %>

    <div id="noComment">
        Ce site ne gère pas les commentaire, mais vous pouvez directement contacter les auteurs.
    </div>

</div>
</body>
</html>